<div class="blog-masthead">
    <div class="container">
        <nav class="nav nav-pills">
            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "blog-nav-item" })


            @Html.ActionLink("Posts", "Index", "Post", null, new { @class = "blog-nav-item" })

            @Html.ActionLink("Usuários", "Index", "Usuario", null, new{@class="blog-nav-item"})

        </nav>
    </div>
</div>